<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<title>RTC</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
	<nav class="nav-extended">
		<div class="nav-wrapper">
			<div class="brand-logo" style="padding-left: 1em;">Rail Track Crack</div>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"></i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li>
					<a href="{% url 'logout' %}" style="background-color: transparent;">
						<button class="btn waves-effect waves-light">
							Logout<i class="material-icons right"></i>
						</button>
					</a>
				</li>
			</ul>
		</div>
		<div class="nav-content">
			<ul class="tabs tabs-transparent">
				<li class="tab"><a class="active" href="#cracks">Cracks</a></li>
				<li class="tab"><a href="#obstacles">Obstacles</a></li>
			</ul>
		</div>
	</nav>
	<div class="row">
		<div id="cracks" class="col s12">
			<table class="highlight responsive-table centered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Date</th>
						<th>Time</th>
						<th>Location</th>
					</tr>
				</thead>
				<tbody>
					{% for crack in cracks %}
					<tr>
						<td>{{ crack.id }}</td>
						<td>{{ crack.date }}</td>
						<td>{{ crack.time }}</td>
						<td>{{ crack.location }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div id="obstacles" class="col s12">
			<table class="highlight responsive-table centered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Date</th>
						<th>Time</th>
						<th>Location</th>
					</tr>
				</thead>
				<tbody>
					{% for obstacle in obstacles %}
					<tr>
						<td>{{ obstacle.id }}</td>
						<td>{{ obstacle.date }}</td>
						<td>{{ obstacle.time }}</td>
						<td>{{ obstacle.location }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.tabs').tabs();
		});
	</script>
</body>

</html>